/.metadata/
Aufgaben/
HWSWE_Projekt/
HWSWE_U1A1/
HWSWE_U2A1_A2_Loesung/
HWSWE_U2A1_A2_Template/
HWSWE_U4A1/
HWSWE_U5A1/
HWSWE_U8A1/
HWSWE_U9A1/
HWSWE_U9A2/
HWSWE_U9A2/
HWSWE_U9A3/
Vorlesungen/
WasserwageUI/
HWSWE_U9A2/
HWSWE_Skript.pdf